#Python 초급 및 중급 튜토리얼

강의자: 홍연정

본 튜토리얼은 Kevin Zakka의 2020 봄학기 [cs231n](https://cs231n.github.io/) 강좌 일부를 발췌하였고, 본 수업의 목적에 맞게 필요한 내용을 추가하여 재구성한 자료입니다. Python3의 문법을 따릅니다.

##Introduction

Python은 다양한 목적으로 활용될 수 있는 프로그래밍 언어입니다. numpy, scipy, matplotlib과 같은 라이브러리를 추가로 활용해서 각종 통계 및 데이터 분석을 해낼 수 있고, 나아가 머신러닝 도구로도 사용할 수 있습니다.

본 수업에서는 Python 기초 연산자를 빠르게 복습하고, 자연어처리에 필요한 정규표현식 라이브러리 re를 활용하는 방법을 배우는 것을 목표로 합니다.

학습 목표 내용은 다음과 같습니다.

* Python 기초: 기본 자료형 (컨테이너, 리스트, 딕셔너리, 집합, 튜플), 함수, 클래스
* 정규표현식: 정규표현식 기본 패턴 및 Python re 라이브러리 내장 함수 활용 연습

## Python 버전에 대하여

2020년 1월 1일부터 Python은 `Python2`에 대한 [공식적인 지원을 중단](https://www.python.org/doc/sunset-python-2/)하였습니다. 따라서 본 강좌에서는 Python 3.7을 사용합니다. Python 버전은 터미널 혹은 DOS 창에서 `python --version` 과 같은 명령문을 통해 확인하실 수 있습니다. Colab에서 Python3을 사용하려면 `런타임 -> 런타임 유형 변경`에서 `python3`을 클릭하면 됩니다.

In [ ]:
!python --version

Python 3.7.10

##Python 기초

Python은 하이 레벨 언어(high-level langauge)입니다. 수준이 높은 언어라는 뜻이 아니고, 코드 문법이나 진행이 인간이 읽고 이해하기 쉽다는 의미입니다.

Python은 다이나믹 타이핑 언어(dynamically typed programming language)입니다. 변수를 정의할 때마다 자료형을 지정해주지 않아도 된다는 의미입니다.

In [ ]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

###기본 자료형

####숫자(Numbers)

정수(integers) 및 실수(floats)

In [ ]:
x = 3
print(x, type(x))

3 <class 'int'>

In [ ]:
print(x + 1)   # 더하기
print(x - 1)   # 빼기
print(x * 2)   # 곱하기
print(x ** 2)  # 제곱하기

4
2
6
9

In [ ]:
print(2**3)
print(5%3) # 나머지
print(10%3) # 나머지
print(5//3) # 몫
print(10//3) # 몫
print(5/3) # 나누기기

8
2
1
1
3
1.6666666666666667

In [ ]:
print(10 > 3)
print(4 >= 7)
print(10 < 3)
print( 5 <= 5)

True
False
False
True

In [ ]:
x = 9

In [ ]:
# 연산 한 번에 표현하기
x += 1
print(x)
x *= 2
print(x)
x /= 2
print(x)
x %= 3
print(x)
x //= 3
print(x)

10
20
10.0
1.0
0.0

In [ ]:
x -= 1
print(x)

-1.0

In [ ]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

다른 많은 프로그래밍 언어와는 다르게 Python에서는 **숫자를 하나씩 증가시킬 때 x++, 하나씩 감소시킬 때, x--와 같은 오퍼레이터를 사용할 수 없습니다.**

Python의 내장 자료형 중에는 int보다 범위가 큰 정수(long)와 복소수(complex)도 있습니다. 자세한 사항은 [자료](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex)를 참조하세요.

####불리언(Booleans)

Python도 다른 언어와 마찬가지로 boolean 로직을 위한 오퍼레이터를 제공하지만 **`&&`, `||` 등과 같은 기호보다는 `and`, `or`** 등의 영단어를 사용합니다.

In [ ]:
t, f = True, False
print(type(t))

<class 'bool'>

아래는 4가지 Boolean 오퍼레이터입니다.

In [ ]:
# XOR관련
# https://arbee.tistory.com/29

In [ ]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

####문자열(Strings)

In [ ]:
hello = 'hello'   # 문자열은 작은 따옴표를 사용해도 되고,
world = "world"   # 큰 따옴표를 사용해도 됩니다.
print(hello, len(hello))

hello 5

In [ ]:
hw = hello + ' ' + world  # 문자열 합치기는 + 를 사용
print(hw)

hello world

In [ ]:
# 문자열 포맷팅
hw12 = '{} {} {}'.format(hello, world, 12)  # 문자열 포매팅
print(hw12)

hello world 12

In [ ]:
print('{1} {2} {0}'.format(hello, world, 12))

world 12 hello

In [ ]:
print("나는 {}살입니다.".format(20))
print("나는 {0}색과 {1}색을 좋아해요.".format("파란", "빨간"))
print("나는 {1}색과 {0}색을 좋아해요.".format("파란", "빨간"))

나는 20살입니다.
나는 파란색과 빨간색을 좋아해요.
나는 빨간색과 파란색을 좋아해요.

In [ ]:
print("나는 {age}살이며, {color}색을 좋아해요.".format(age = 20, color="빨간"))
print("나는 {0}살이며, {1}색을 좋아해요.".format(age = 20, color="빨간"))

나는 20살이며, 빨간색을 좋아해요.

IndexError: ignored

In [ ]:
age = 20
color ="빨간"
print(f"나는 {age}살이며, {color}색을 좋아해요.")

나는 20살이며, 빨간색을 좋아해요.

문자열 객체는 여러 내장 속성 및 함수를 지닙니다.

In [ ]:
s = "hello"
print(s.capitalize())  # 첫 글자만 대문자로 변환
print(s.upper())       # 문자열 전체를 대문자로 변환
print(s.rjust(7))      # 우측 정렬 (입력 숫자만큼 좌측에 공백 패딩)
print(s.center(7))     # 가운데 정렬 (입력 숫자만큼 좌우 공백 패딩)
print(s.replace('l', '(ell)'))  # 문자열 일부 치환
print('  world '.strip())  # 문자열 앞뒤에 붙어있는 공백 삭제

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

문자열 내장 함수 전체 목록은 [공식문서](https://docs.python.org/3.7/library/stdtypes.html#string-methods)에서 확인하세요.

###Containers

Python 내장 컨테이너 자료형에는 리스트(lists), 딕셔너리(dictionaries), 집합(sets), 튜플(tuples)이 있습니다.

####Lists

Python 리스트는 사이즈를 변경할 수 있고, 하나의 리스트 안에 서로 다른 자료형이 들어갈 수 있습니다.

In [ ]:
xs = [3, 1, 2]   # 리스트 생성
print(xs, xs[2])
print(xs[-1]) # 음수 형태 인덱싱은 리스트 맨 끝 요소부터 카운트합니다. 예를 들어, -1은 맨 마지막, -2는 맨 마지막에서 두번째 요소입니다.
print(xs[-2])

[3, 1, 2] 2
2
1

In [ ]:
xs = [3, 1, 2]   
print(xs[-3])

3

In [ ]:
xs[2] = 'foo'    # 리스트 안에는 문자열, 숫자 등 서로 다른 자료형이 요소로 들어갈 수 있습니다.
print(xs)

[3, 1, 'foo']

In [ ]:
xs.append('bar') # 리스트 맨 끝에 새로운 요소 추가
print(xs)

[3, 1, 'foo', 'bar']

In [ ]:
x = xs.pop()     # 리스트 맨 끝 요소 삭제 및 반환
print(x, xs)

bar [3, 1, 'foo']

리스트의 기타 내용은 [공식문서](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists)에서 확인하세요.

####Slicing

리스트 요소를 한 번에 하나씩 접근할 수도 있지만, 리스트 범위를 지정해서 여러 요소를 한꺼번에 접근할 수도 있습니다. 이것을 slicing이라고 합니다.

In [ ]:
nums = list(range(5))    # range 는 정수 목록을 생성하는 내장 함수입니다.
print(nums)         # "[0, 1, 2, 3, 4]" 출력
print(nums[2:4])    # 인덱스 2부터 4까지의 슬라이스 (인덱스 4 미포함); "[2, 3]" 출력
print(nums[2:])     # 인덱스 2부터 끝까지의 슬라이스; "[2, 3, 4]" 출력
print(nums[:2])     # 시작(인덱스 0)부터 인덱스 2까지의 슬라이스 (인덱스 2 미포함); "[0, 1]" 출력
print(nums[:])      # 전체 리스트 슬라이스; ["0, 1, 2, 3, 4]" 출력
print(nums[:-1])    # 음수 인덱싱 적용 가능; ["0, 1, 2, 3]" 출력
nums[2:4] = [8, 9] # 인덱스 2부터 4까지의 슬라이스에 다른 값 지정
print(nums)         # "[0, 1, 8, 9, 4]" 출력

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

In [ ]:
print(nums[:-2])

[0, 1, 8]

####Loops

리스트 요소를 다음과 같이 하나씩 차례로 loop 돌 수 있습니다.

In [ ]:
# 리스트는 iterable한 데이터 타입(하나씩 차례대로 반환 가능한 object)
# iterable한 데이터 타입으로는 list, str, tuple이 대표적이다.

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

In [ ]:
# 중복 value 허용
animals = ['cat', 'dog', 'monkey', 'cat']
for animal in animals:
    print(animal)

cat
dog
monkey
cat

리스트 loop을 돌 때에, 각 요소의 **인덱스**를 동시에 참조하고 싶으면 내장 함수 `enumerate`를 사용합니다.

In [ ]:
# for, enumerate문 자유자재로 익히기
# 우리가 하는 프로젝트에서 많이 사용할 예정

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print(f'#{idx+1}: {animal}')

#1: cat
#2: dog
#3: monkey

####리스트 표현식(List comprehensions):

주어진 리스트를 다른 값의 요소로 구성된 리스트로 만들어야 하는 경우가 자주 발생합니다. 리스트 요소들을 제곱값으로 바꾸어야 하는 아래 예를 생각해 봅시다.

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

리스트 표현식을 사용하면 코드를 더 간단하게 작성할 수 있습니다.

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

# 리스트 표현식 안에는 조건문이 들어갈 수도 있습니다.

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

In [ ]:
nums = [0, 1, 2, 3, 4]
for x in nums:
    if x % 2 == 0:
      print(x**2)

0
4
16

####Dictionaries

- 딕셔너리(사전에서 단어를 찾듯이 값을 가져올 수 있다고 하여 '딕셔너리'라고 부름)는 값(value)마다 이름(key)를 붙여서 저장하는 방식. 
- 딕셔너리는 (key, value) 쌍을 저장합니다. 자바의 `Map`이나 자바스크립트의 객체와 유사합니다. 다음과 같이 사용할 수 있습니다.

In [2]:
d = {'cat': 'cute', 'dog': 'furry'}  # 딕셔너리 생성
print(d['cat'])       # key 값을 참조하여 value 값을 얻어냄; "cute" 출력
print('cat' in d)     # 딕셔너리에 해당 key가 들어있는지 확인; "True" 출력

cute
True

In [3]:
d['fish'] = 'wet'    # 딕셔너리의 한 엔트리(key,value)를 작성
print(d['fish'])      # "wet" 출력

wet

In [4]:
print(d['monkey'])  # KeyError: 딕셔너리 d에 'monkey' 라는 key가 없기 때문

KeyError: ignored

In [5]:
print(d.get('monkey', 'N/A'))  # 'monkey'라는 key가 있으면 value를, 없으면 default 출력; "N/A" 출력
print(d.get('fish', 'N/A'))    # 'fish'라는 key가 있으면 value를, 없으면 default 출력; "wet" 출력

N/A
wet

In [6]:
# get함수에 key를 써야한다
# value쓰면 안됨
print(d.get('cat', 'N/A'))

cute

In [ ]:
del d['fish']        # 해당 (key, value) 삭제
print(d.get('fish', 'N/A')) # 삭제 후, "fish"라는 key는 검색 불가; "N/A" 출력

N/A

딕셔너리 자세한 사항은 [공식 문서](https://docs.python.org/2/library/stdtypes.html#dict)에서 확인하세요.

딕셔너리의 key를 하나씩 순회(iterate)할 수 있습니다.

In [ ]:
# items() 메서드 = enumerate함수와 동일

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print(f'A {animal} has {legs} legs')

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

딕셔너리 표현식: 리스트 표현식과 유사합니다.

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

In [8]:
# 딕셔너리 key의 개수 구하기
d = {'person': 2, 'cat': 4, 'spider': 8}
len(d)

3

####Sets

집합(set)은 중복되지 않는 요소들을 정해진 순서 없이 모아놓은 요소 묶음입니다.

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   # set 에 특정 요소가 있는지 확인; "True" 출력
print('fish' in animals)  # "False" 출력

True
False

In [ ]:
# list는 append(), set은 add() 사용해서 요소 추가

In [ ]:
animals.add('fish')      # set에 요소를 추가
print('fish' in animals)
print(len(animals))       # set의 요소 개수

True
3

In [ ]:
animals.add('cat')       # set에 이미 있는 요소를 추가해도 set 요소 개수는 변하지 않음
print(len(animals))       
animals.remove('cat')    # set 요소 삭제
print(len(animals))

3
2

_Loops_: set를 순회할 때에도 리스트 순회할 때와 동일한 문법을 사용합니다. 하지만 set는 요소간 순서가 지정되어 있지 않으므로 set 작성 순서와 실제 인덱스의 순서가 서로 다를 수 있습니다.

In [15]:
# set은 unordered타입, 중복된 요소를 허락하지 않는다
a = {'cat', 'dog', 'cat'}
len(a)

2

In [16]:
# list는 ordered타입, 중복된 요소 허용
b = ['cat', 'dog', 'cat']
len(b)

3

In [17]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print(f'#{idx+1}: {animal}')

#1: fish
#2: dog
#3: cat

집합 표현식: 리스트 표현식, 딕셔너리 표현식과 문법이 유사합니다.

In [18]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

####Tuples

튜플은 리스트와 거의 유사한 자료형입니다. 단, 리스트와는 달리, 튜플은 딕셔너리의 key나 집합의 요소가 될 수 있습니다. 
리스트는 한번 생성하면 요소를 바꿀 수 있지만(실무에서 많이 쓰임), 튜플은 한번 생성하면 요소를 바꿀 수 없다.

In [ ]:
# https://dojang.io/mod/page/view.php?id=2201

In [20]:
d = {(x, x + 1): x for x in range(10)}  # 튜플을 key로 하는 딕셔너리 생성
print(d)
t = (5, 6)       # 튜플 생성
print(type(t))
print(d[t])       
print(d[(1, 2)])

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
<class 'tuple'>
5
1

In [21]:
t[0] = 1

TypeError: ignored

###Functions

Python 함수는 `def` 라는 키워드로 정의됩니다.

In [24]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

함수를 정의할 때 옵셔널한 키워드를 추가할 수 있습니다.

In [25]:
def hello(name, loud=False):
    if loud:
        print(f'HELLO, {name.upper()}')
    else:
        print(f'Hello, {name}!')

hello('Bob')
hello('Bob', loud=True)
hello('Fred', loud=True)
hello('Fred')

Hello, Bob!
HELLO, BOB
HELLO, FRED
Hello, Fred!

###Classes

Python에서 클래스를 정의할 때에는 말 그대로 class 라는 키워드를 사용합니다.
class를 사용하면 프로그래밍 시간을 많이 절약할 수 있다.

In [ ]:
# https://dojang.io/mod/page/view.php?id=2373

In [28]:
class Greeter:

    # 생성자: __init__
    # 모든 클래스를 만들때 기본적으로 만들어준다
    def __init__(self, name): #
        self.name = name  # 인스턴스 변수 생성

    # 인스턴스 메서드
    def greet(self, loud=False):
        if loud:
          print(f'HELLO, {self.name.upper()}')
        else:
          print(f'Hello, {self.name}!')

g = Greeter('Fred')  # 클래스 Greeter의 인스턴스 생성
print(g.name)        # 객체 g의 생성자를 통해 만들어진 변수 name 출력
g.greet()            # 인스턴스 메서드 호출; "Hello, Fred" 출력
g.greet(loud=True)   # 인스턴스 메서드 호출; "HELLO, FRED!" 출력

Fred
Hello, Fred!
HELLO, FRED

In [29]:
g = Greeter('파이썬 중급') 
print(g.name)

파이썬 중급

##Regular Expression

정규표현식(정규식;Regular expression)은 문자열의 복잡한 패턴을 활용하여 처리할 때 사용하는 기법으로, Python 뿐 아니라 문자열을 다루는 모든 곳에서 사용합니다.
따라서 **정규표현식은 그 자체로 독립된 영역의 학습 대상**입니다. Python에서는 re라는 라이브러리에서 정규표현식 처리 함수를 제공합니다.

정규표현식은 웹크롤링을 할 때 많이 사용. 자연어를 전처리하기 위한 많은 라이브러리들이 있지만, 라이브러리를 사용해도 데이터가 완벽하게 정제되지 않기 때문에 정규표현식을 많이 사용한다.

re를 사용하기 위해서는 `re` 패키지를 불러와야 합니다.

In [30]:
# 정규표현식 지원하는 스탠다드 라이브러리
import re

###메타 문자

메타 문자는 정규표현식에서 특별한 용도로 사용하는 문자입니다.

#### 주요 메타문자 목록
```
. ^ $ * + ? { } [ ] \ | ( )
```
#### 메타문자별 의미와 예
```
[abc]        # a 혹은 b 혹은 c # a,b,c중 어느하나로 매칭이 된다면 가져와라
```
```
[0-9]        # 0부터 9까지의 정수값 중 하나. [0123456789]와 동일 # 알파벳, 숫자, 한글만 사용가능, range의 의미
```              
```
[a-zA-Z]     # 소문자 a부터 z, 대문자 A부터 Z까지의 알파벳 중 하나
```
```
[^0-9]       # 0부터 9까지의 정수값이 아닌 값
```
```
[0-9]?       # 0부터 9까지의 정수값이 있거나 없거나
```
```
\d           # [0-9]와 동일
```
```
\D           # [^0-9]와 동일
```
```
\w           # 숫자 혹은 알파벳. [0-9a-zA-Z_]와 동일. 
```
```
\W           # 숫자 혹은 알파벳이 아닌 문자. [^0-9a-zA-Z_]와 동일. 
```
```
\s           # 공백. [ \t\n\r\f\v]과 동일
```
```
\S           # 공백이 아닌 문자. [^ \t\n\r\f\v]과 동일
```
```
ya?          # ya에서 a가 등장하지 않거나 1회 등장하거나. y, ya
```
```
ya{3}        # ya에서 a가 3회 반복. yaaa
```
```
ya{3,5}      # ya에서 a가 3회 이상 5회 이하 반복. yaaa, yaaaa, yaaaaa
```
```
ya+          # ya에서 a가 1회 이상 반복. ya, yaa, yaaa, ...
```
```
ya*          # ya에서 a가 0회 이상 반복. y, ya, yaa, yaaa, ...
```
```
(ab|c|def)   # ab 혹은 c 혹은 def
```
```
가.다         # .은 모든 문자와 매치. 가나다, 가a다, 가!다, 가0다, 가\t다, ...
```
```
^\d[a-z]     # 문자열의 맨 첫 두 문자가 숫자와 소문자 알파벳의 연쇄. 1z87384, 3t가나다라, 0r!>hi, ...
```
```
\d[a-z]$     # 문자열의 맨 끝 두 문자가 숫자와 소문자 알파벳의 연쇄. 873841z, 가나다라3t, !>hi0r, ...
```
```
^\d[a-z]$    # 문자열이 숫자로 시작해서 소문자 알파벳으로 끝남. 1z, 3t, 0r, ...
```
```
[wW]hy\?     # 메타 문자로서의 ?가 아닌 문장부호로서의 ?를 검색하고 싶을 경우 백슬래시로 escape. Why?, why?
```

### re.search

re.search는 문자열 전체를 검색하여 정규식과 일치하는 부분을 찾아냅니다.

In [31]:
p = re.compile("\w+") # alpha-numeric 1회 이상 반복
m = p.search("doggy")
print(m)
if m:
  print("found")
else:
  print("nothing")
print(m.group()) # 패턴에 걸린 전체 청크 출력
print(m.start()) #string 패턴이 걸리는 인덱스
print(m.end()) # string 패턴이 걸리는 마지막 인덱스(5가 쓰여져있지만, 포함이 되지 않는다, value의 갯수로 생각하면 이해하기 쉽다)
print(m.span()) # 끝, 시작 튜플형태로 출력

<re.Match object; span=(0, 5), match='doggy'>
found
doggy
0
5
(0, 5)

In [32]:
p = re.compile("@\w+\.com") # email 주소 .com 패턴

In [33]:
# search success
m1 = p.search("aaa@google.com")
if m1:
  print(f"서치 성공: {m1.group()}, {m1.start()}, {m1.end()}, {m1.span()} ")
else:
  print(f"서치 실패: {m1}")

서치 성공: @google.com, 3, 14, (3, 14)

In [34]:
# search failure
m2 = p.search("aaa@hanmail.net")
if m2:
    print(f"서치 성공: {m2.group()}, {m2.start()}, {m2.end()}, {m2.span()} ")
else:
  print(f"서치 실패: {m2}")

서치 실패: None

###re.match

re.match는 문자열의 시작부터 정규식과 일치하는 부분을 찾아냅니다.

In [35]:
p = re.compile("[a-zA-Z]+") # alphabet 1회 이상 반복

In [36]:
# search success
m1 = p.match("Hello!")
if m1:
  print(f"서치 성공: {m1.group()}, {m1.start()}, {m1.end()}, {m1.span()} ")
else:
  print(f"서치 실패: {m1}")

서치 성공: Hello, 0, 5, (0, 5)

In [37]:
# search failure
m2 = p.match("2021, hello!")
if m2:
  print(f"서치 성공: {m2.group()}, {m2.start()}, {m2.end()}, {m2.span()} ")
else:
  print(f"서치 실패: {m2}")

서치 실패: None

In [38]:
# search failure
m2 = p.match("2hello!")
if m2:
  print(f"서치 성공: {m2.group()}, {m2.start()}, {m2.end()}, {m2.span()} ")
else:
  print(f"서치 실패: {m2}")

서치 실패: None

In [ ]:
# match가 search보다 연산속도가 더 빠르다

###re.findall

re.findall은 문자열 전체를 검색하여 정규식과 일치하는 부분 전체를 리스트로 반환합니다.

In [39]:
p = re.compile("(하세요|하지요|싶어요)")

In [40]:
result = p.findall("안녕하세요. 제 소개부터 드리도록 하지요. 저는 의미있는 일을 하고 싶어요. 건강하세요.")
print(result)

['하세요', '하지요', '싶어요', '하세요']

###re.finditer

re.finditer는 문자열 전체를 검색하여 정규식과 일치하는 부분을 반복 가능한 객체(match 객체)로 돌려줍니다.

In [41]:
p = re.compile("(하세요|하지요|싶어요)")

In [42]:
result = p.finditer("안녕하세요. 제 소개부터 드리도록 하지요. 저는 의미있는 일을 하고 싶어요. 건강하세요.")
print(result)

<callable_iterator object at 0x7f2393bec910>

In [43]:
result = p.finditer("안녕하세요. 제 소개부터 드리도록 하지요. 저는 의미있는 일을 하고 싶어요. 건강하세요.")
for r in result: 
  print(r)
  print(r.group())

<re.Match object; span=(2, 5), match='하세요'>
하세요
<re.Match object; span=(19, 22), match='하지요'>
하지요
<re.Match object; span=(38, 41), match='싶어요'>
싶어요
<re.Match object; span=(45, 48), match='하세요'>
하세요

###re.sub

re.sub은 정규식과 일치하는 부분을 다른 문자열로 치환합니다.
replace 함수와 같은기능

In [44]:
p = re.compile("(123)+")

In [47]:
# re.sub(패턴, 패턴을뭘로바꿀건지,치환대상전체string)
re.sub("(123)+", "ttt", "123123kk123")

'tttkkttt'

In [48]:
# 패턴오브젝트.sub(패턴을뭘로바꿀건지,치환대상전체string)
# 123123 연쇄를 하나의 패턴으로 잡힌다.
result = p.sub("ttt", "123123kk123")
print(result)

tttkkttt

###Grouping

그루핑 메타 기호 ( )를 잘 활용하면, match 객체의 group 인덱스로 그루핑된 부분의 문자열을 추출할 수 있습니다.

In [49]:
p = re.compile("(\w+)\s+(\d+[-]\d+[-]\d+)")
m = p.search("park 010-1234-1234")
print(m.group(0))
print(m.group(1))
print(m.group(2))

park 010-1234-1234
park
010-1234-1234

###Backreferences

\1, \2, 등의 재참조 메타 기호를 사용하여 앞서 그루핑한 문자열을 재참조 할 수 있습니다.

In [50]:
p = re.compile(r"(\w+)\s+\1") # 재참조 기호 사용시, raw string임을 알리는 r을 꼭 붙여줘야 함.
result = p.search('Paris in the the spring').group()
print(result)

the the

###Look-ahead

전방 탐색(look-ahead)은 찾아내고자 하는 문자열의 패턴의 전방에 특정 조건을 걸고 싶을 때 사용합니다. 

전방에 X가 매치되는 조건을 걸고 싶을 때는 (?=X)

전방에 X가 매치되지 않는 조건을 걸고 싶을 때는 (?!X)

In [51]:
p = re.compile(".+(?=:)")
result = p.search("http://google.com").group()
print(result)

http

In [52]:
p = re.compile("[a-z]+(?![0-9])")
result = p.search("hello2021!").group()
print(result)

hell

###Look-behind

후방 탐색(look-behind)은 찾아내고자 하는 문자열의 패턴의 후방에 특정 조건을 걸고 싶을 때 사용합니다. 

후방에 X가 매치되는 조건을 걸고 싶을 때는 (?<=X)

후방에 X가 매치되지 않는 조건을 걸고 싶을 때는 (?<!X)

In [53]:
p = re.compile("(?<=://).+")
result = p.search("http://google.com").group()
print(result)

google.com

In [54]:
p = re.compile("\d+")
result = p.search("hello2021!").group()
print(result)

2021

In [ ]:
# 전방탐색, 후방탐색은 정말 많이 사용하는 방식